doctype html
html
    head
        meta(charset='utf-8')
        title Огонь!
        link(rel='shortcut icon', href='/favicon.ico')
        // это можно выкинуть и заменить своими стилями
        link(rel='stylesheet', type='text/css', href='css/main.css')
        link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css")
        // например, можно заюзать Bootstrap:
    body
        #root
            .wrapper

                //.open-chat__btn#open__chat_btn
                //    a(href="#" id='openChat').btn.btn-success.btn-lg
                //        i.fa.fa-whatsapp
                //        | Давай поговорим

                #chat__block.chat__block
                    .chat__head
                        .chat__head_left
                            a(href="#"  )
                                div.md__user_pic
                                    img(src="img/content/user.jpg" alt="Eugene Alitz (Front End Developer)"  ).md__user_image
                                span.md__user_name
                                    |Eugene Alitz
                        .chat__head_right
                            a(href="#").chat__close_btn
                                i.fa.fa-close

                    .chat__wrapper.chat__box_wrapper.chat__box_active#chat
                        .chat__content
                            .chat__message_wrapper.chat__message_display
                                .chat__user_avatar
                                    a(href="#")
                                        img(src="img/content/user.jpg" alt="Eugene Alitz (Front End Developer)"  ).md__user_image
                                ul.chat__message
                                    li.chat__message_text
                                        span.chat__message_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum?
                                        span.chat__message_time 13:38
                            .chat__message_wrapper.chat__message_right
                                .chat__user_avatar
                                    a(href="#")
                                        img(src="img/content/user.jpg" alt="Eugene Alitz (Front End Developer)"  ).md__user_image
                                ul.chat__message
                                    li.chat__message_text
                                        span.chat__message_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum?
                                        span.chat__message_time 13:45
                            .chat__message_wrapper.chat__message_display
                                .chat__user_avatar
                                    a(href="#")
                                        img(src="img/content/user.jpg" alt="Eugene Alitz (Front End Developer)"  ).md__user_image
                                ul.chat__message
                                    li.chat__message_text
                                        span.chat__message_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum?
                                        span.chat__message_time 13:38
                            .chat__message_wrapper.chat__message_right
                                .chat__user_avatar
                                    a(href="#")
                                        img(src="img/content/user.jpg" alt="Eugene Alitz (Front End Developer)"  ).md__user_image
                                ul.chat__message
                                    li.chat__message_text
                                        span.chat__message_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum?
                                        span.chat__message_time 13:45





                    .chat__submit_box
                        .uk__input_group
                            .gurdeep__chat_box
                                span.uk__input_group-addon
                                    a(href='#')
                                        i.fa.fa-smile-o
                                textarea(placeholder='Type a message', name='submit_message' rows='1')#submit__message.md-input
                                //input(name="submit_message" type="text" placeholder="Type a message")#submit__message.md-input
                                span.uk__input_group-addon
                                    a(href='#').submit__btn
                                        i.fa.fa-send


                // jQuery совершенно не обязателен. Вообще, весь этот файл дан просто для примера
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
        script(src='js/react/react.js')
        script(src='js/react/react-dom.js')
        script(src='js/react/browser.min.js')
        script(src='js/react/EventEmitter.js')
        script(src='https://unpkg.com/dexie@latest/dist/dexie.js')
        //script(src='scripts/zangodb.min.js')
        script(src='js/app.js' type="text/babel")

        //script(src='main.js')



